@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@keyframes move {
    0%,
    100% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(200%);
    }
}

@layer utilities {
    .animate-move {
        animation: move 1.5s linear infinite;
    }
}
